#tea-of-the-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tea-container {
  flex: 1 0 300px; /* This will ensure the containers take up at least 300px but can grow if needed */
  margin-bottom: 20px;
  text-align: center;
}

.tea-image {
  width: 100%;
  height: auto;
}

.tea-text {
  margin-top: 10px;
}
